.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #9292a0;
    position: relative;
    justify-content: flex-start;
    z-index: 1;
    top: 709px;
    a {
        text-decoration: none;
        color: #9292a0;
    }
}
