@import "../../../assets/scss/variables";

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}
main {
    display: flex;
}
.header_button {
    border: none;
    display: none;
    background: none;
    cursor: pointer;
}
.header_nav_list {
    display: flex;
    flex-flow: row nowrap;
    padding: 12px;
    hr {
        display: none;
    }
}
.header_nav_list_item {
    list-style: none;
    margin: 0 5px;
    a {
        text-decoration: none;
    }
}
.header_nav_language_image {
    display: flex;
}
.header_nav_language_image--other{
    display: none;
}

@media screen and (max-width: $medida3) {
    .header{
        max-width: 1200px;
    }
    main {
        display: flex;
        margin: 0;
        padding: 16px;
        justify-content: center;
        gap: 50px;
        max-width: 233px;
    }
    .header_home_logo {
        width: 90px;
    }
    .header_button {
        display: flex;
        svg {
            width: 32px;
            height: 32px;
        }
    }
    .header_nav {
        width: 100%;
        display: flex;
        height: 0;
        flex-flow: column nowrap;
        overflow: hidden;
        pointer-events: none;
        transition: all 0.2s ease;
        background-color: red;
        &--active {
            height: 100%;
            width: 100%;
            overflow: auto;
        }
    }
    .header_nav_list {
        flex-direction: column;
        hr {
            display: flex;
        }
    }
    .header_nav_list_item {
        margin: 8px 0;
    }
    .header_nav_language_image {
        display: none;
    }
    .header_nav_language_image--other {
        display: flex;
    }
}
