@import "../../../assets/scss/variables";

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;
    right: 5px;
    .header_home_logo {
        position: relative;
        top: 10px;
        left: 4px;
        width: 103px;
    }
}
main {
    display: flex;
}
.header_button {
    border: none;
    display: none;
    background: none;
    cursor: pointer;
    position: relative;
    top: 10px;
}
.header_nav_list {
    display: flex;
    flex-flow: row nowrap;
    padding: 12px;
    hr {
        display: none;
    }
}
.header_nav_list_item {
    list-style: none;
    margin: 0 5px;
    a {
        text-decoration: none;
    }
}
.header_nav_language_option {
    background: none;
    width: 70px;
    text-align: center;
    border: none;
}
.header_nav_language_image {
    display: none;
}
.header_nav_language_image--other {
    display: flex;
    position: relative;
    top: 8px;
}

@media screen and (max-width: $medida3) {
    $medidaif: 600px;
    .header {
        max-width: 1200px;
    }
    main {
        display: flex;
        gap: 50px;
        max-width: 233px;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .header_home_logo {
        width: 90px;
    }
    .header_button {
        display: flex;
        svg {
            width: 32px;
            height: 32px;
        }
    }
    .header_nav {
        display: none;
        overflow: hidden;
        &--active {
            display: block;
            width: 100%;
            overflow: auto;
            position: absolute;
            top: 30px;
            right: 76px;
            background: #fff;
            height: 400px;
            padding: 20px;
        }
    }
    .header_nav_list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        padding: 30px;
        left: 30px;
        gap: 30px;
        hr {
            display: block;
        }
    }
}
@media screen and (max-width: 480px) {
    .header_nav_list {
        left: 50px;
    }
    .header_nav_language_image {
        display: f;
    }
}
