<app-header></app-header>
<section id="section1">
    <div class="take_rest">
        <div class="take_rest_text">
            <h1>Take a Rest</h1>
            <p>Discover all the offers available at the best prices for the whole country and the world</p>
        </div>
        <div class="take_rest_button">
            <a href=""><button>BUY</button></a>
        </div>
    </div>
</section>
<section id="section2">
    <div class="offers_tittle">
        <h2>Offers</h2>
    </div>
    <nav class="offers_cards">
        <div class="offers_cards_info offers_cards_info--chicago">
            <div class="offers_cards_info_text">
                <p>$600.00</p>
                <h5>Chicago</h5>
            </div>
        </div>
        <div class="offers_cards_info offers_cards_info--porto">
            <div class="offers_cards_info_text offers_cards_info_text--porto">
                <p>$600.00</p>
                <h5>Porto</h5>
            </div>
        </div>
        <div class="offers_cards_info offers_cards_info--chicago2">
            <div class="offers_cards_info_text">
                <p>$600.00</p>
                <h5>Chicago</h5>
            </div>
        </div>
    </nav>
</section>
<section id="section3">
    <div class="our_destination">
        <img src="../../../assets/images/Intersect.png" alt="our_destination_image" class="our_destination_image">
        <img src="../../../assets/images/Intersect(2).png" alt="our_destination_image--other" class="our_destination_image--other">
        <div class="our_destination_info">
            <h2>Our destination <span>Discovery World</span></h2>
            <p>Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for
                you
                to explore the world together!</p>
        </div>
    </div>
</section>
<app-footer></app-footer>