@import "../../../assets/scss/variables";

footer{
    background-color: #9292A0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    top: 100%;
    position: absolute;
    right: 0;
}
.footer_content{
    padding: 20px;
    position: relative;
}
.footer_logo{
    width: 140px;
}
.footer_socialmedia{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 15px;
}
.footer_socialmedia_icons{
    display: flex;
    gap: 10px;
    img{
        width: 40px;
    }
}

.footer_destinations, .footer_legal, .footer_book{
    display: flex;
    flex-direction: column;
    position: relative;
}
.footer_destinations_list, .footer_legal_list, .footer_book_list{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    font-weight: bold;
    a{
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
    }
}


//MediaQueries
@media screen and (min-width: 900px) {
    footer{
        display: flex;
        position: absolute;
        width: 100%;
        top: 1230px;
        justify-content: center;
        height: 438px;
    }
    .footer_content{
        display: flex;
        max-width: 1200px;
        justify-content: space-around;
        position: relative;
    }
    .footer_content_logo{
        img{
            position: relative;
            width: 300px;
            top: 100px;
            left: 40px;
        }
    }
    .footer_destinations, .footer_legal, .footer_book{
        position: relative;
        right: 10px;
    }
    .footer_socialmedia{
        position: relative;
        left: 603px;
        top: 150px;
    }
}