<footer>
    <div class="footer_content">

        <div class="footer_content_logo">
            <img src="../../../assets/images/logo 1.svg" alt="" class="footer_content_logo_img">
        </div>
        <!--Social Media-->
        <div class="footer_socialmedia">
            <h3>Follow us</h3>
            <div class="footer_socialmedia_icons">
                <img src="../../../assets/images/194909_social media_twitter_icon 1.png" alt="">
                <img src="../../../assets/images/194929_facebook_social media_icon 1.png" alt="">
                <img src="../../../assets/images/194904_social media_youtube_icon 1.png" alt="">
            </div>
        </div>


        <!--Destinations-->
        <div class="footer_destinations">
            <h3>Destinations</h3>
            <ul class="footer_destinations_list">
                <li><a href="">Madrid</a></li>
                <li><a href="">Barcelona</a></li>
                <li><a href="">London</a></li>
                <li><a href="">Paris</a></li>
                <li><a href="">Rome</a></li>
            </ul>
        </div>
        
        <!--Legal Information-->
        <div class="footer_legal">
            <h3>Legal Information</h3>
            <ul class="footer_legal_list">
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Cookie Policies</a></li>
                <li><a href="">Data treatment</a></li>
            </ul>
        </div>

        <!--Book Your Flight-->
        <div class="footer_book">
            <h3>Book Your Flight</h3>
            <ul class="footer_book_list">
                <li><a href="">Search Flights</a></li>
                <li><a href="">Price Calendar</a></li>
                <li><a href="">Destination Map</a></li>
                <li><a href="">Flight Times</a></li>
            </ul>
        </div>
    </div>
</footer>